doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="stylesheet", href="styles.css") 
  body
    header
      div.container
        h1 Personal Blog 
        a(href="/new" class="button") + Add
      div.articles(id="articles")
        each post in articles
          div.article-container
            form(action=`/admin`, method="GET") 
              span(class="post" onclick="this.closest('form').submit()" style="cursor: pointer")
                h3.title= post.article
            form(action=`/edit/${post.content.id}`, method='GET' style="cursor: pointer")              
              h3.description(onclick="this.closest('form').submit()") Edit 
              p.description Delete  

  
