doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Edit Article
  body
    header
      div.container
        h1 Edit Article
      div.articles(id="articles")
        form(style="display: flex; flex-direction: column; gap: 10px;")
            div.form-group
              input#article-title.form-control(type='text', style="width: 580px; border: solid black 2px" placeholder='Update Article Title' name='title' value=`${contentDetails.title}`)
            div.form-group
              input#date.form-control(type='date-local',style="width: 580px; border: solid black 2px" name='date', value= contentDetails.publishing_date)
            div.form-group
              //- label(for='content') FileContent:
              textarea#content(type='text', rows=10 cols=70 placeholder='Update Content' name='content' style="border: solid black 2px")= contentDetails.content
            div.form-group
              button.btn.btn-primary#update-button(type="button") Update

        script.
          document.getElementById('update-button').addEventListener('click', function() {

            const title = document.getElementById('article-title').value
            const date = document.getElementById('date').value
            const content = document.getElementById('content').value

            const contentDetail = !{JSON.stringify(contentDetails)}

            fetch(`/edit/${contentDetail.id}`, {
              method: 'PUT',
              headers: {
                'Content-Type':'application/json',
              },
              body: JSON.stringify({ title , date , content }),
            })
              .then(response => response.json())
              .then(data => {
                if (data.success && data.redirectTo) {
                  window.location.href = data.redirectTo; // Redirect to the new page
                } else {
                  console.error('Error:', data.error);
                }
              })
              .catch(error => console.log('Error:', error));
          })

  
